<!-- CODE EXAMPLE
	<div id="view-status">
	<h1
		class="neon"
		data-text="U"
	>WO
	<span class="flicker-slow">R</span>K
	<span class="flicker-fast">I</span>NG</h1>
</div> -->

<div class="view-status">
	<h1 class="view-status__neon-glow--red">W<span class="flicker-slow">O</span>RKING</h1>
	<h1 class="view-status__neon-glow--orange">ME<span class="flicker-fast">E</span>TING</h1>
	<h1 class="view-status__neon-glow--purple">INT<span class="flicker-fast">E</span>RVIEWING</h1>
	<h1 class="view-status__neon-glow--green">STU<span class="flicker-slow">D</span>ING</h1>
	<h1 class="view-status__neon-glow--blue"><span class="flicker-slow">G</span>AMMING</h1>
	<h1 class="view-status__neon-glow--yellow">MO<span class="flicker-slow">V</span>IE</h1>
</div>
